ignore/**
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
*.DS_Store
*.egg-info/
*.bak
*.swp
*.tmp
*.ipynb_checkpoints
.vscode/
.idea/
node_modules/
dist/
build/
.env
*.tar.gz
*.zip
*.coverage
*.mypy_cache/
*.pytest_cache/